<footer class="footer">
  <small>
    <%= t ".the" %> <a href="http://www.railstutorial.org/"><%= t ".rails_book" %></a>
    <%= t ".searched_by" %><a href="http://www.google.com/">
      <%= t ".google" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><a href="http://24h.com.vn/"><%= t ".news" %></a></li>
    </ul>
  </nav>
</footer>
